# Unity generated
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ibrary/

# Builds
*.apk
*.aab
*.unitypackage
*.zip

# Visual Studio / MonoDevelop
*.booproj
*.csproj
*.sln
*.suo
*.userprefs
*.dll
*.pdb

# Unity3D generated meta files
*.pidb.meta

# Unity3D asset server
*.asset.meta

# JetBrains Rider
.idea/

# Mac files
.DS_Store
.AppleDouble
.LSOverride

# Windows files
Thumbs.db
Desktop.ini

# Unity3D collab files
.collabignore

# Rider project files
.settings/

# VSCode project files
.vscode/

# Test results
TestResult/

# Android
*.apk
*.aar
*.gradle
.gradle/

# Gradle Wrapper
gradle-wrapper.jar
gradle-wrapper.properties

